/* 
Order of implementing CSS
1. Imports
2. Mobile and General
2a. General
2b. Mobile
3. Midsize
4. Large
5. Really Large
*/

/* 2a. General */
body {
    background-color: lightcyan;
    text-align: center;
    padding: 1.5rem;
}
p, ul {
    font-family: Arial;
}
h1, h2 {
    font-family: 'Lora', serif;
    color: darkblue;
}
nav hr {
    margin: 1.5rem;
    margin-top: -1em;
    border: .5px solid black;
}
nav {
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}
ul {
    /* Got help with centering the list here: https://stackoverflow.com/questions/19443013/how-to-center-an-unordered-list */
    display: table;
    margin: 0 auto;
    text-align: left;
    list-style-type: none;
    margin-top: -1em;  
}

/* 4. Large Device */
.centerBox {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    padding: 4px;
    margin: 0 auto;
    margin-bottom: -1em;
}

img {
    max-width: 40%;
    height: auto;
    border-radius: 2%;  
    box-shadow: 2px 2px 20px; 
    margin-bottom: 5%;
    align-self: right;
}

.grid1, .grid2, .grid3 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 6px auto;
    gap: 2em;
}

#design-principles-main {
    max-width: 1000px;
    margin: 0 auto;
}

#design-principles-main h1, h2 {
    margin-bottom: 20px;
}

#design-principles-main h1 {
    margin-top: 40px;
}

#design-principles-main hr {
    border: .5px solid black;
    margin-top: 20px;
}

#design-principles-main img {
    margin-bottom: 2px;
}

#home-link {
    text-decoration: none;
}