h1, h2, p, ul {
    font-family: Arial;
}

h1, h2 {
    color: darkblue;
}

body {
    background-color: lightcyan;
    text-align: center;
    padding: 1.5rem;
}

nav {
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.centerBox {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    padding: 4px;
    margin: 0 auto;
    margin-bottom: -1em;
}


ul {
    /* Got help with centering the list here: https://stackoverflow.com/questions/19443013/how-to-center-an-unordered-list */
    display: table;
    margin: 0 auto;
    text-align: left;
    list-style-type: none;
    margin-top: -1em;
    
}

img {
    max-width: 50%;
    height: auto;   
}

hr {
    margin: 1.5rem;
}



